.header {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 15px;
    background-color: rgb(15, 15, 15);
    color: #fff;
    text-align: center;    
    .logo {
        width: 120px;
        height: 30px;
        background: rgba(255,255,255,.2);  
        margin: 10px 0;
        float: left;
    }
}
